.table-shadow {
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.table-btn {
    border-radius: 0;
}

.table-status-free {
    background-color: @brand-success;
}

.table-status-occupied {
    background-color: @brand-danger;
}

.table-status-reserved {
    background-color: @brand-warning;
}

.table-status {
    position: relative;
    display: block;
    padding: 10px 15px;
    border: 0;
    color: #FFFFFF;
}
